*{}
#container{}
#wrap{
    height: 300vh;
    
}
#wrap > div{
    width: 200px;
    height: 200px;
    text-align: center;
    line-height: 200px;
    font-size: 3em;
    font-weight: bold;
    color: #fff;
    margin-left: 30px;
}
#wrap .no-01{
    background-color: #178325;
    position: sticky;
    top: 10px;
    z-index: 2;
    /* 부모 태그의 크기를 기준으로 절대 위치를 지정 */
    /* sticky 속성은 static과 fixed 속성의 특징 모두 갖고 있음 */
    /* 도달 위치 반드시 설정 (top, bottom, left, right 중 하나 반드시 필요)
    조상태그에 overflow 설정 안 되어 있으면 말 듣지 않음
    부모태그가 반드시 height값이 설정 되어있어야 함 */
    /* height값을 %로 지정하지 않으면 말 안 들음 */
}
#wrap .no-02{
    background-color: #ff0000;
    position: fixed;
    top: 10px;
    z-index: 1;
    left: 230px;
}
#wrap .no-03{
    background-color: #ff00ff;
    position: relative;
    top: 10px;
    z-index: 3;
    left: 460px;
}